@{
    ViewBag.Title = "Index";
}

<h2>Support</h2>

<ul>
    <li><a href="@Url.Content("~/Glimpse.axd")">Glimpse</a></li>
    <li><a href="@Url.Content("~/Hangfire")">Hangfire</a></li>
    <li><a href="@Url.Content("~/Elmah")">Elmah</a></li>
</ul>
