<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        @*Dashboard
        <small>Control panel</small>*@
        @Html.MvcSiteMap().SiteMapTitle()
    </h1>
    
    @Html.MvcSiteMap().SiteMapPath()
</section>