@model IEnumerable<Gerenciador.Web.UI.Models.CommentsViewModel.CommentWidgetViewModel>

@{
    ViewBag.Title = "_CommentListWidget";
}

<p class="lead">Comentários:</p>

@foreach (var item in Model) {
    <div class="box box-warning">
        <div class="box-body">
            <p>
                @Html.Raw(HttpUtility.HtmlDecode(item.Content))
            </p>
        </div><!-- /.box-body -->
        <div class="box-footer">
            <small>enviado por @Html.DisplayFor(modelItem => item.AuthorName) às @Html.DisplayFor(modelItem => item.CreatedAt) </small>
        </div><!-- /.box-footer-->
    </div>
}

