div.growlUI { 
    margin-top: 5px;
    background: url(../Images/flash-messages/check48.png) no-repeat 10px 10px 
}
div.growlUI h1, div.growlUI h2 {
    color: lightgrey; padding: 5px 5px 5px 75px; text-align: left; font-size:medium;
}